﻿@{
    Layout = "";
    ViewData["Title"] = "LoginView";
}
@model Login


<div>
    <form asp-controller="Login" asp-action="ValidacaoLogin">
        <h1>Login</h1>
        <p>usuario</p>
        <input type="text" name="login.usuario"/>
        <p>senha</p>
        <input type="password" name="login.senha" />
        <input type="submit" />
        
    </form>
</div>


