﻿@model Empresas
@{
    ViewData["Title"] = "Cadastro de Empresa";
}

<div class="text-center">
    <h1 class="display-4">Cadastro</h1>
    <hr />
    <form asp-controller="Empresas" asp-action="Cadastro">
        <input type="hidden" name="cadEmpresa.IdEmpresas" value="@Model?.IdEmpresas" />

        <div style="border:solid 1px black;align-content:flex-start">
            <h3>Dados básicos</h3>

            <p>CNPJ</p>
            <input type="text" name="cadEmpresa.CNPJ" value="@Model?.CNPJ" id="cnpj" />

            <p>RazaoSocial</p>
            <input type="text" name="cadEmpresa.RazaoSocial" value="@Model?.RazaoSocial" />

            <p>NomeFantasia</p>
            <input type="text" name="cadEmpresa.NomeFantasia" value="@Model?.NomeFantasia" />
        </div>

        <div style="border:solid 1px black;">
            <h3>Dados de Contato</h3>

            <p>NomeContato</p>
            <input type="text" name="cadEmpresa.NomeContato" value="@Model?.NomeContato" />

            <p>Email</p>
            <input type="email" name="cadEmpresa.Email" value="@Model?.Email" />

            <p>Telefone</p>
            <input type="tel" name="cadEmpresa.Telefone" value="@Model?.Telefone" id="telefone" />

            <p>TelefoneComercial</p>
            <input type="tel" name="cadEmpresa.TelefoneComercial" value="@Model?.TelefoneComercial" id="telefoneComercial" />

            <p>Celular</p>
            <input type="tel" name="cadEmpresa.Celular" value="@Model?.Celular" />
        </div>

        <div style="border:solid 1px black;">
            <h3>Dados de Endereço</h3>

            <p>CEP</p>
            <input type="text" name="cadEmpresa.CEP" value="@Model?.CEP" id="cep" />

            <p>Logradouro</p>
            <input type="text" name="cadEmpresa.Logradouro" value="@Model?.Logradouro" />

            <p>Numero</p>
            <input type="number" name="cadEmpresa.Numero" value="@Model?.Numero" />

            <p>Complemento</p>
            <input type="text" name="cadEmpresa.Complemento" value="@Model?.Complemento" />

            <p>Bairro</p>
            <input type="text" name="cadEmpresa.Bairro" value="@Model?.Bairro" />

            <p>Cidade</p>
            <input type="text" name="cadEmpresa.Cidade" value="@Model?.Cidade" />

            <p>Estado</p>
            <input type="text" name="cadEmpresa.Estado" value="@Model?.Estado" />
        </div>

        <input type="submit" />
    </form>
</div>