﻿@{
    ViewData["Title"] = "Empresas";
}
@model List<Empresas>


<div>
    @*<input type="button" name="Cadastro" id="CadastroEmpresa" />*@
    <input type="button" onclick="@(Url.Action("CadastroEmpresas", "Empresas"))" />
     

    <table cellpadding="0" cellspacing="0" style="border:solid black 1px ">
        <tr>
            <th>Edit</th>
            <th>CNPJ</th>
            <th>RazaoSocial</th>
            <th>NomeContato</th>
        </tr>
        @foreach (Empresas empresas in Model)
        {
            <tr>
                <td><a asp-area="" asp-controller="Empresas" asp-action="CadastroEmpresas" asp-route-IdEmpresas="@empresas.IdEmpresas">Editar</a></td>
                <td>@empresas.CNPJ</td>
                <td>@empresas.RazaoSocial</td>
                <td>@empresas.NomeContato</td>
            </tr>
        }
    </table>

</div>